<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Metro Madness Chatroom</title>
    <!-- Include Leaflet CSS for the map -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <!-- Include Leaflet JavaScript for the map -->
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<body>

</head>
      <header>
        <h1>Metro Madness</h1>
      </header>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>

</body>
<footer>
    <div id="footer">Made with 💖 in colaboration with: Islam Muhammad, Manoj Adikari, Brea Grindley &amp; Ben Armstrong</div>
</footer>
</html>





