/* Bordered form */
form {
    border: 3px solid #f1f1f1;
    
  }
  body {
    font-family: "Open Sans", sans-serif;
    background: #e3e9f7;
    color: #444444;
  }
  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra style for the cancel button (red) */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  /* Center the avatar image inside this container */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  /* Avatar image */
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  /* Add padding to containers */
  .container {
    padding: 16px;
  }
  
  /* The "Forgot password" text */
  span.psw {
    float: right;
    padding-top: 16px;
  }

  /*------------------Media Queries------------------*/

  /* Tablets */
  @media screen and (max-width: 920px){
    .header {
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    }

    h1 {
    font-size: 20px;
    }

    nav ul{
    display: flex;
    flex-direction: column;
    }

    .body {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: column;   
    }

    .master-project {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: column;
    }

    .all-other-projects {
    max-width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: column;
    }


    .Contact {
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    }

    .work{
    display: none;
    }
       
    footer {
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    }
    }

  /* Mobiles */
  @media screen and (max-width: 480px) {

    .header {
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    }
    nav ul{
    display: flex;
    text-align: center;
    flex-direction: column;
    }
    .master-project {
    width: 98%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: column;
    }

    .all-other-projects {
    max-width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: column;
    }}
  }