/* Bordered form */
* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  height: 100%; 
  margin:0;
  background-repeat:   no-repeat;
    background-position: center center;
  font-family: 'Open Sans', sans-serif;
  background: #e3e9f7;
  color: #444444;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow: auto;
  padding-bottom: 180px;
  /* must be same height as the footer */
}



/* Opera Fix thanks to Maleika (Kohoutec) */

body:before {
  content: "";
  height: 100%;
  float: left;
  width: 0;
  margin-top: -32767px;
  /* thank you Erik J - negate effect of float*/
}
form {
  border: 3px solid #f1f1f1;
}


header{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
  background-color: #d6dfd7;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  

}
#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

.footer {
  position:absolute;
  bottom:0;
  width:100%;
  height:2.5rem;   
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  background-color: #d6dfd7;
  color: #504c4c;
  margin-top:30px;
}


.container-fluid{
  margin-top:30px;
}
.row{
  margin-top:30px;
}




/* Full-width inputs */
input[type='text'],
input[type='password'] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  position: relative;
  padding: 10px 20px;
  border-radius: 7px;
  border: 1px solid rgb(61, 106, 255);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  color: #fff;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  background-color: #0f3c4c;
}
button:hover {
  background: rgb(61, 106, 255);
  box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
button:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}
button::before {
  content: '';
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}
@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
button:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 40%;
  border-radius: 50%;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/*------------------Media Queries------------------*/

/* Tablets */
@media screen and (max-width: 920px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
  }

  h1 {
    font-size: 20px;
  }

  nav ul {
    display: flex;
    flex-direction: column;
  }

  .body {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: column;
  }

  .master-project {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: column;
  }

  .all-other-projects {
    max-width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: column;
  }

  .Contact {
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
  }

  .work {
    display: none;
  }

  footer {
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
  }
}

.chat-container {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  max-width: 300px;
  margin: 20px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  z-index: 5;
  opacity: 76%;
}

#messages {
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 200px;
  overflow-y: scroll;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  flex-grow: 1;
  margin-bottom: 10px;
  z-index: 5;
}

.chat-input-form {
  display: flex;
  gap: 10px;
  z-index: 5;
}

input[type='text']#input {
  flex-grow: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  z-index: 5;
}

.map-container {
  width: 90%;
  height: 270px;
  z-index: 1;
}

/* Mobiles */
@media screen and (max-width: 480px) {
  .header {
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
  }
  nav ul {
    display: flex;
    text-align: center;
    flex-direction: column;
  }
  .master-project {
    width: 98%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: column;
  }

  .all-other-projects {
    max-width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: column;
  }
}

